html,
body {
    background-color: white;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    margin-top: 55px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.midleLinks {
    display: flex;
    .item {
        display: block;
        text-align: center;
        size: auto;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 3%;
        max-width: 300px;

        img {
            width: 20%;
        }
        a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            letter-spacing: 0.1em;
            transition: 0.4s;
            text-decoration: underline;
            font-size: 1.4em;
            color: $blue;
        }
    }
}

.m-b-md {
    margin-bottom: 40px;
    display: flex;
    text-align: right;
}

#stetho {
    width: 25%;
    margin-right: 15%;
}
