.appointmentPage {
    overflow-x: hidden;

    .same {
        height: 100vh;
    }

    .specialClass {
        height: 200%;

        .fc-timeGrid-view {
            tr {
                height: 50px;
            }
        }
    }

    #top {
        background-color: #2b9faa;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232b9faa'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #bottom {
        background-color: rgb(241, 241, 241);
    }

    .table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        display: flex;
        flex-flow: column;
        width: 90%;
        padding: 0.3em;
        height: 80vh;

        td,
        th {
            height: 50px;
            width: 100%;
        }
        thead {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: white;
            font-size: 1.1em;
            text-align: center;
            border-radius: 5px 5px 0px 0px;
            width: 99.25%;
            display: table;
            table-layout: fixed;
            z-index: 50px;
            background-color: #6c7ae0;
            -webkit-box-shadow: 6px -7px 20px 5px rgba(212, 212, 212, 1);
            -moz-box-shadow: 6px -7px 20px 5px rgba(212, 212, 212, 1);
            box-shadow: 6px -7px 20px 5px rgba(212, 212, 212, 1);
        }

        tbody {
            font-size: 1em;
            border-radius: 0px 0px 5px 5px;
            text-align: center;
            display: block;
            overflow-y: scroll;
            background-color: white;
            -webkit-box-shadow: 6px 15px 20px 5px rgba(212, 212, 212, 1);
            -moz-box-shadow: 6px 15px 20px 5px rgba(212, 212, 212, 1);
            box-shadow: 6px 15px 20px 5px rgba(212, 212, 212, 1);

            tr {
                width: 100%;
                display: table;
                table-layout: fixed;
                background-color: white;
            }

            td {
                overflow-x: auto;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            tr:hover {
                background-color: #ddd;
            }
            tr:active {
                background-color: #4253d7;
                transform: translateY(4px);
            }
        }
        .size {
            width: 20%;
        }
        .mediumSize {
            width: 50%;
        }

        button {
            width: 90%;
            height: 2.8em;
            box-shadow: inset 0px 1px 0px 0px #bbdaf7;
            background-color: #6c7ae0;
            border-radius: 3px;
            border: 1px solid #84bbf3;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 1em;
            font-weight: bold;

            text-decoration: none;
            text-shadow: 0px 1px 0px #528ecc;
        }
        button:hover {
            background-color: #378de5;
        }
        button:active {
            position: relative;
            top: 1px;
        }
    }
    .header {
        display: flex;
        flex-direction: row;
        position: relative;

        h1 {
            margin-left: 2%;
        }
        .float {
            position: absolute;
            top: 1.5em;
            right: 2em;
            button {
                box-shadow: inset 0px 1px 0px 0px #bbdaf7;
                background: linear-gradient(
                    to bottom,
                    #79bbff 5%,
                    #378de5 100%
                );
                background-color: #79bbff;
                border-radius: 3px;
                border: 1px solid #84bbf3;
                cursor: pointer;
                color: #ffffff;
                font-family: Arial;
                font-size: 1em;
                font-weight: bold;
                padding: 0.5em 1em;
                text-decoration: none;
                text-shadow: 0px 1px 0px #528ecc;
            }
            button:hover {
                background: linear-gradient(
                    to bottom,
                    #378de5 5%,
                    #79bbff 100%
                );
                background-color: #378de5;
            }
        }

        fieldset {
            border: hidden;
            width: 50%;
            margin-left: 3%;

            padding-top: 2%;
            font-size: 1.2em;
            input {
                margin-right: 3%;
                height: 2em;
                border: none;
                border-radius: 4px;
                border: 2px solid $blue;
            }
        }
    }
    .content {
        text-align: center;

        .title {
            margin-top: 2em;
            font-size: 6em;
            font-weight: lighter;
            font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
                "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
        }
        .midleLinks {
            display: flex;
            justify-content: center;
            margin-top: 4em;
            .item {
                text-align: center;
                size: auto;
                margin-right: 3%;
                margin-left: 3%;
            }

            button {
                display: inline-block;
                padding: 14px 20px;
                font-size: 1.4em;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: #6c7ae0;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }

            button:hover {
                background-color: #37474f;
                color: white;
            }

            button:active {
                background-color: #263238;
                box-shadow: 0 1px #666;
                transform: translateY(4px);
            }
        }
    }

    .special {
        width: 98%;
    }

    .Content {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: left;
    }
    .Content2 {
        font-size: 1.5em;
        text-align: left;
    }

    .element {
        font-weight: bold;
    }
    .data {
        margin-left: 1%;
        margin-right: auto;
    }

    .topnav {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        width: 100%;
        height: 6rem;
        font-size: 1.4em;
        margin-left: 1%;

        .item {
            display: block;
            width: 25%;
            margin-left: 1%;
            label {
                text-align: center;
                font-weight: bold;
                margin-bottom: 2%;
            }
            input {
                padding: 10px 20px;
                margin-top: 2%;
                width: 80%;
                font-size: 0.8em;
                font-weight: bold;
            }
            input:hover {
                border: 2px solid $cyan;
            }
        }
        .special {
            width: 15%;
            select {
                padding: 10px 20px;
                margin-top: 2.6%;
                width: 100%;
                font-size: 0.8em;
            }
            select:hover {
                border: 2px solid $cyan;
            }
        }
        .buttonItem {
            margin-top: 2.7%;
            width: 10%;
            height: 45%;
            font-size: 1em;
            margin-left: 2%;
        }

        .show2 {
            display: block;
        }
    }
    .specialTabel {
        margin-top: 0px;
        height: 72vh;
    }
}

.appointmentMedic {
    overflow: hidden;
    height: 100vh;

    .header {
        width: 100%;
        padding-left: 0.5em;
        display: flex;
        background-color: $blue;
        border-bottom: 1px solid black;
        height: 4em;

        h3 {
            margin-right: 1%;
        }

        span {
            color: #000000;
            text-decoration: black underline;
            font-size: 1.2em;
        }

        input {
            height: 2em;
            border: none;
            border-radius: 4px;
            border: 2px solid $blue;
            margin-top: 1.2em;
        }
        label {
            font-size: 1em;
            margin-top: 1.5em;
            margin-left: 1%;
        }
    }

    .fc-timeGrid-view {
        tr {
            height: 70px;
        }
    }
}

.fc-right {
    button {
        margin-right: 0.5em;
    }
}
