.medics {
    font-family: "Nunito", sans-serif;
    font-size: 1em;
    .topnav {
        border: 1px solid gray;
        background-color: $cyan;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        width: 99.8%;
        height: 6rem;
        font-size: 1.4em;

        .item {
            display: block;
            width: 25%;
            margin-left: 1%;
            label {
                text-align: center;
                font-weight: bold;
                margin-bottom: 2%;
            }
            input {
                padding: 10px 20px;
                margin-top: 2%;
                width: 80%;
                font-size: 0.8em;
                font-weight: bold;
            }
            input:hover {
                border: 2px solid $cyan;
            }
        }
        .item2 {
            display: block;
            width: 20%;
            margin-left: 1%;
            label {
                text-align: center;
                font-weight: bold;
                margin-bottom: 2%;
            }
            input {
                padding: 10px 20px;
                margin-top: 2%;
                width: 80%;
                font-size: 0.8em;
                font-weight: bold;
            }
            input:hover {
                border: 2px solid $cyan;
            }
        }
        .special {
            width: 15%;
            select {
                padding: 10px 20px;
                margin-top: 2.5%;
                width: 100%;
                font-size: 0.8em;
            }
            select:hover {
                border: 2px solid $cyan;
            }
        }
        .buttonItem {
            margin-top: 2.7%;
            width: 10%;
            height: 45%;
            font-size: 1em;
            margin-left: 1%;
        }

        .show2 {
            display: block;
        }
    }

    .size {
        width: 30%;
        border: 1px solid grey;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;

        display: flex;
        flex-flow: column;
        width: 90%;
        padding: 0.3em;
        height: 75vh;
        td,
        th {
            height: 40px;
            width: 100%;
            border: 1px solid grey;
            text-align: center;
        }

        th {
            background-color: $cyan;
            border: 1px solid grey;
        }
        thead {
            width: 99.25%;
            display: table;
            table-layout: fixed;
        }

        tbody {
            display: block;
            overflow-y: scroll;

            tr {
                width: 100%;
                display: table;
                table-layout: fixed;
            }
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: $cyan;
        }
        .size {
            width: 15%;
        }
    }

    .element {
        font-weight: bold;
    }
    .data {
        margin-left: 1%;
        margin-right: auto;
    }

    .changedContent {
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: left;
    }
    .changedContent2 {
        font-size: 1.5em;
        text-align: left;
    }
}
