.appointment {
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    height: 100vh;
    .topnav {
        border: 1px solid gray;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23fffefc' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f7f7fd' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23eff0fb' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e7e8f9' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23dfe1f7' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d7d9f4' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cfd2f2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23c7cbf0' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23bfc4ee' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23b7bcec' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23afb5e9' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23a6aee7' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%239ea7e5' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2395a0e2' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%238c99e0' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%238392de' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%237a8cdb' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%237085d9' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        width: 99.8%;
        height: 6rem;
        font-size: 1.4em;

        .item {
            display: block;
            width: 25%;
            margin-left: 1%;
            label {
                text-align: center;
                font-weight: bold;
                margin-bottom: 2%;
            }
            input {
                padding: 10px 20px;
                margin-top: 2%;
                width: 80%;
                font-size: 0.8em;
                font-weight: bold;
            }
            input:hover {
                border: 2px solid $cyan;
            }
        }
        .special {
            width: 15%;
            select {
                padding: 10px 20px;
                margin-top: 2.5%;
                width: 100%;
                font-size: 0.8em;
            }
            select:hover {
                border: 2px solid $cyan;
            }
        }
        .buttonItem {
            margin-top: 2.7%;
            width: 10%;
            height: 45%;
            font-size: 1em;
            margin-left: 1%;
        }

        .show2 {
            display: block;
        }
    }

    .size {
        width: 30%;
        border: 1px solid grey;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        display: flex;
        flex-flow: column;
        width: 90%;
        padding: 0.3em;
        height: 78vh;
        td,
        th {
            height: 40px;
            width: 100%;
            border: 1px solid grey;
            text-align: center;
        }

        th {
            background-color: $cyan;
            border: 1px solid grey;
        }
        thead {
            width: 99.25%;
            display: table;
            table-layout: fixed;
        }

        tbody {
            display: block;
            overflow-y: scroll;

            tr {
                width: 100%;
            }
            tr {
                display: table;
                table-layout: fixed;
            }
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: $cyan;
        }
    }
}
