@import url(https://fonts.googleapis.com/css?family=Nunito);.support {
  text-align: center;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  background-color: #e9f3fc;
}

.support .text {
  width: 70%;
  margin: auto;
  margin-top: 1%;
}

.support .text h3 {
  text-align: justify;
}

.support .employee {
  margin-top: 3%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.support .employee .item {
  margin-top: 15px;
  display: block;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  width: 28%;
  padding: 12px 24px;
}

.support .employee .item ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}

.support .employee .item ul a {
  color: #6574cd;
  text-decoration: none;
}

.support .employee .item ul a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #6574cd;
          text-decoration-color: #6574cd;
}

.support .employee .item:hover {
  z-index: 50px;
  box-shadow: 10px 10px 10px #d6d6d6;
}

.support .emailSend {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 15px;
  background-color: white;
}

.support .emailSend h2 {
  text-align: center;
  font-weight: bold;
}

.support .emailSend input {
  font-family: "Nunito", sans-serif;
  width: 80%;
  padding: 10px 0px;
}

.support .emailSend input:hover {
  border: 2px solid #6cb2eb;
}

.support .emailSend textarea {
  font-family: "Nunito", sans-serif;
  width: 80%;
  padding: 10px 0px;
}

.support .emailSend textarea:hover {
  border: 2px solid #6cb2eb;
}

.support .emailSend button {
  margin-top: 2px;
  background-color: #6cb2eb;
  /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  width: 80%;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 2px;
  border: #ddd solid 1px;
}

.support .emailSend button:hover {
  background-color: #ddd;
  border: #6cb2eb solid 1px;
  color: black;
}

.support .emailSend:hover {
  z-index: 50px;
  box-shadow: 10px 10px 10px #d6d6d6;
}

.welcome {
  text-align: center;
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  height: 99vh;
  position: relative;
}

.welcome h1 {
  margin-top: 5%;
  margin-bottom: 0px;
}

.welcome .title {
  font-size: 4em;
  color: #3490dc;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
}

.welcome .text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.welcome #stetho {
  width: 5%;
  position: absolute;
  left: 15px;
  top: 30px;
}

.welcome .text {
  width: 70%;
  margin: auto;
  margin-top: 1%;
}

.welcome .text h3 {
  text-align: justify;
}

.welcome .text h3 > strong {
  font-weight: bold;
  text-decoration: underline;
}

.welcome #temperature2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.welcome .rotate-vert-center {
  -webkit-animation: rotate-vert-center 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s infinite;
  animation: rotate-vert-center 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2s infinite;
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.appointment {
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  margin-top: 21px;
}

.appointment .topnav {
  border: 1px solid gray;
  background-color: #e9e9e9;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  overflow: hidden;
  width: 99.8%;
  height: 100px;
  font-size: 1.4em;
}

.appointment .topnav .item {
  display: block;
  width: 30%;
  margin-left: 1%;
}

.appointment .topnav .item label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.appointment .topnav .item input {
  padding: 10px 20px;
  margin-top: 2%;
  width: 80%;
  font-size: 0.8em;
  font-weight: bold;
}

.appointment .topnav .item input:hover {
  border: 2px solid #6cb2eb;
}

.appointment .topnav .flexitem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  margin-top: 1%;
  width: 100%;
}

.appointment .topnav .flexitem input {
  padding: 10px 20px;
  width: 100%;
}

.appointment .topnav .flexitem button {
  margin-top: 6px;
  margin-left: 11%;
  width: 15%;
  height: 45px;
  font-weight: bold;
  background-color: #6cb2eb;
  /* Green */
  border: none;
  color: white;
  text-align: left;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 2px;
  border: #ddd solid 1px;
}

.appointment .topnav .flexitem button:hover {
  background-color: #ddd;
  border: #6cb2eb solid 1px;
  color: black;
}

.appointment .topnav .show2 {
  display: block;
}

.appointment .medicList {
  margin-top: 2%;
}

.appointment .medicList .medic {
  background-color: blue;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid black;
  width: 80%;
  display: none;
}

.appointment .medicList .medic h2 {
  margin-right: 5%;
}

.appointment .medicList .show {
  display: -webkit-box;
  display: flex;
}

.profile * {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.profile #fullpage {
  height: 100vh;
  overflow: hidden;
  margin-top: 2%;
}

.profile #fullpage section {
  height: 100vh;
}

.profile #fullpage section:nth-of-type(2n) {
  background-color: lightgray;
}

.profile .client-info {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 8%;
}

.profile .client-info .profile-name > h1 {
  color: #333333;
  font-weight: 600;
  font-size: 50px;
}

.profile .client-info .profile-name > hr {
  margin-top: 2%;
  border: 2px solid #6cb2eb;
}

.profile .client-info .profile-name p {
  margin-left: 1%;
}

.profile .client-info .profile-info {
  margin-top: 4%;
}

.profile .client-info .profile-info h2 {
  margin-top: 2%;
  color: grey;
}

.profile .client-info .profile-info h3 {
  margin-top: 1.5%;
  border-bottom: 1px black;
}

.profile .client-info .profile-info button {
  margin-top: 3%;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #79bbff), to(#378de5));
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 11px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.profile .client-info .profile-info button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #378de5), to(#79bbff));
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

.profile .client-info .profile-info button:active {
  position: relative;
  top: 1px;
}

.profile .client-appointmments {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 8%;
  height: 100vh;
}

.profile .client-appointmments .appointmments-name > h1 {
  color: #333333;
  font-weight: 600;
  font-size: 50px;
}

.profile .client-appointmments .appointmments-name hr {
  margin-top: 2%;
  border: 2px solid #6cb2eb;
}

.profile .client-appointmments .appointmments-name p {
  margin-left: 1%;
}

.profile .client-appointmments .appointmments-table .table-container {
  padding: 0.3em;
  height: 70vh;
}

.profile .client-appointmments .appointmments-table table {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  height: 70vh;
  width: 100%;
  border: 1px solid lightgrey;
}

.profile .client-appointmments .appointmments-table table td,
.profile .client-appointmments .appointmments-table table th {
  height: 40px;
  width: 100%;
  border: 1px solid grey;
  text-align: center;
}

.profile .client-appointmments .appointmments-table table th {
  background-color: #6cb2eb;
  border: 1px solid grey;
}

.profile .client-appointmments .appointmments-table table thead {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: calc(100% - 0.9em);
  display: table;
  table-layout: fixed;
}

.profile .client-appointmments .appointmments-table table tbody {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}

.profile .client-appointmments .appointmments-table table tbody tr {
  width: 100%;
}

.profile .client-appointmments .appointmments-table table tbody tr {
  display: table;
  table-layout: fixed;
}

.profile .client-appointmments .appointmments-table table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.profile .client-appointmments .appointmments-table table tr:hover {
  background-color: #6cb2eb;
}

.profile .client-analysis {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 8%;
}

.profile .client-analysis .anaylsis-name > h1 {
  color: #333333;
  font-weight: 600;
  font-size: 50px;
}

.profile .client-analysis .anaylsis-name hr {
  margin-top: 2%;
  border: 2px solid #6cb2eb;
}

.profile .client-analysis .anaylsis-name p {
  margin-left: 1%;
}

body {
  margin: 0px;
  margin-top: -21px;
}

.sidenav {
  font-family: "Nunito", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  background: #37474f;
  height: 100%;
  overflow: auto hidden;
  max-width: 17%;
}

.sidenav > a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 1.1em;
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  padding: 16px 24px;
  text-transform: uppercase;
}

.sidenav > a img {
  width: 10%;
  margin-right: 2%;
  padding-left: 10%;
}

.sidenav > a:hover {
  background-color: #757575;
  color: black;
}

.sidenav > a:active {
  background-color: #4d4d4d;
  color: white;
}

.sidenav header {
  background-color: #263238;
  font-size: 1.3em;
  text-align: center;
  padding: 16px 24px;
}

.sidenav header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidenav header a:hover {
  text-decoration: underline;
}

.sidenav button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  background: none;
  border: none;
  color: #fff;
  padding: 16px 24px;
  background-color: #263238;
  text-transform: uppercase;
  width: 100%;
}

.sidenav button img {
  width: 10%;
}

.sidenav button:hover {
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

.sidenav form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  margin-left: 17%;
  overflow: auto;
}

