@import url(https://fonts.googleapis.com/css?family=Nunito);.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: block;
}

.notShow {
  display: none;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: darkslategrey;
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #36383a;
}

.medics {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
}

.medics .topnav {
  border: 1px solid gray;
  background-color: #6cb2eb;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  overflow: hidden;
  width: 99.8%;
  height: 6rem;
  font-size: 1.4em;
}

.medics .topnav .item {
  display: block;
  width: 25%;
  margin-left: 1%;
}

.medics .topnav .item label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.medics .topnav .item input {
  padding: 10px 20px;
  margin-top: 2%;
  width: 80%;
  font-size: 0.8em;
  font-weight: bold;
}

.medics .topnav .item input:hover {
  border: 2px solid #6cb2eb;
}

.medics .topnav .item2 {
  display: block;
  width: 20%;
  margin-left: 1%;
}

.medics .topnav .item2 label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.medics .topnav .item2 input {
  padding: 10px 20px;
  margin-top: 2%;
  width: 80%;
  font-size: 0.8em;
  font-weight: bold;
}

.medics .topnav .item2 input:hover {
  border: 2px solid #6cb2eb;
}

.medics .topnav .special {
  width: 15%;
}

.medics .topnav .special select {
  padding: 10px 20px;
  margin-top: 2.5%;
  width: 100%;
  font-size: 0.8em;
}

.medics .topnav .special select:hover {
  border: 2px solid #6cb2eb;
}

.medics .topnav .buttonItem {
  margin-top: 2.7%;
  width: 10%;
  height: 45%;
  font-size: 1em;
  margin-left: 1%;
}

.medics .topnav .show2 {
  display: block;
}

.medics .size {
  width: 30%;
}

.medics table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  width: 90%;
  padding: 0.3em;
  height: 75vh;
}

.medics table td,
.medics table th {
  height: 50px;
  width: 100%;
}

.medics table thead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 99.25%;
  display: table;
  table-layout: fixed;
  z-index: 50px;
  background-color: #6c7ae0;
  box-shadow: 6px -7px 20px 5px #d4d4d4;
}

.medics table tbody {
  font-size: 1em;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  display: block;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 6px 15px 20px 5px #d4d4d4;
}

.medics table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.medics table tbody td {
  overflow-x: auto;
}

.medics table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.medics table tbody tr:hover {
  background-color: #ddd;
}

.medics table tbody tr:active {
  background-color: #4253d7;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.medics table .size {
  width: 15%;
}

.medics .element {
  font-weight: bold;
}

.medics .data {
  margin-left: 1%;
  margin-right: auto;
}

.medics .changedContent {
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: left;
}

.medics .changedContent2 {
  font-size: 1.5em;
  text-align: left;
}

.appointmentPage {
  overflow-x: hidden;
}

.appointmentPage .same {
  height: 100vh;
}

.appointmentPage .specialClass {
  height: 200%;
}

.appointmentPage .specialClass .fc-timeGrid-view tr {
  height: 50px;
}

.appointmentPage #top {
  background-color: #2b9faa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232b9faa'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.42'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.appointmentPage #bottom {
  background-color: #f1f1f1;
}

.appointmentPage .table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  width: 90%;
  padding: 0.3em;
  height: 80vh;
}

.appointmentPage .table td,
.appointmentPage .table th {
  height: 50px;
  width: 100%;
}

.appointmentPage .table thead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 99.25%;
  display: table;
  table-layout: fixed;
  z-index: 50px;
  background-color: #6c7ae0;
  box-shadow: 6px -7px 20px 5px #d4d4d4;
}

.appointmentPage .table tbody {
  font-size: 1em;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  display: block;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 6px 15px 20px 5px #d4d4d4;
}

.appointmentPage .table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  background-color: white;
}

.appointmentPage .table tbody td {
  overflow-x: auto;
}

.appointmentPage .table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.appointmentPage .table tbody tr:hover {
  background-color: #ddd;
}

.appointmentPage .table tbody tr:active {
  background-color: #4253d7;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.appointmentPage .table .size {
  width: 20%;
}

.appointmentPage .table .mediumSize {
  width: 50%;
}

.appointmentPage .table button {
  width: 90%;
  height: 2.8em;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background-color: #6c7ae0;
  border-radius: 3px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.appointmentPage .table button:hover {
  background-color: #378de5;
}

.appointmentPage .table button:active {
  position: relative;
  top: 1px;
}

.appointmentPage .header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: relative;
}

.appointmentPage .header h1 {
  margin-left: 2%;
}

.appointmentPage .header .float {
  position: absolute;
  top: 1.5em;
  right: 2em;
}

.appointmentPage .header .float button {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #79bbff), to(#378de5));
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 3px;
  border: 1px solid #84bbf3;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.appointmentPage .header .float button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #378de5), to(#79bbff));
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

.appointmentPage .header fieldset {
  border: hidden;
  width: 50%;
  margin-left: 3%;
  padding-top: 2%;
  font-size: 1.2em;
}

.appointmentPage .header fieldset input {
  margin-right: 3%;
  height: 2em;
  border: none;
  border-radius: 4px;
  border: 2px solid #3490dc;
}

.appointmentPage .content {
  text-align: center;
}

.appointmentPage .content .title {
  margin-top: 2em;
  font-size: 6em;
  font-weight: lighter;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

.appointmentPage .content .midleLinks {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 4em;
}

.appointmentPage .content .midleLinks .item {
  text-align: center;
  size: auto;
  margin-right: 3%;
  margin-left: 3%;
}

.appointmentPage .content .midleLinks button {
  display: inline-block;
  padding: 14px 20px;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6c7ae0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.appointmentPage .content .midleLinks button:hover {
  background-color: #37474f;
  color: white;
}

.appointmentPage .content .midleLinks button:active {
  background-color: #263238;
  box-shadow: 0 1px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.appointmentPage .special {
  width: 98%;
}

.appointmentPage .Content {
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: left;
}

.appointmentPage .Content2 {
  font-size: 1.5em;
  text-align: left;
}

.appointmentPage .element {
  font-weight: bold;
}

.appointmentPage .data {
  margin-left: 1%;
  margin-right: auto;
}

.appointmentPage .topnav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  height: 6rem;
  font-size: 1.4em;
  margin-left: 1%;
}

.appointmentPage .topnav .item {
  display: block;
  width: 25%;
  margin-left: 1%;
}

.appointmentPage .topnav .item label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.appointmentPage .topnav .item input {
  padding: 10px 20px;
  margin-top: 2%;
  width: 80%;
  font-size: 0.8em;
  font-weight: bold;
}

.appointmentPage .topnav .item input:hover {
  border: 2px solid #6cb2eb;
}

.appointmentPage .topnav .special {
  width: 15%;
}

.appointmentPage .topnav .special select {
  padding: 10px 20px;
  margin-top: 2.6%;
  width: 100%;
  font-size: 0.8em;
}

.appointmentPage .topnav .special select:hover {
  border: 2px solid #6cb2eb;
}

.appointmentPage .topnav .buttonItem {
  margin-top: 2.7%;
  width: 10%;
  height: 45%;
  font-size: 1em;
  margin-left: 2%;
}

.appointmentPage .topnav .show2 {
  display: block;
}

.appointmentPage .specialTabel {
  margin-top: 0px;
  height: 72vh;
}

.appointmentMedic {
  overflow: hidden;
  height: 100vh;
}

.appointmentMedic .header {
  width: 100%;
  padding-left: 0.5em;
  display: -webkit-box;
  display: flex;
  background-color: #3490dc;
  border-bottom: 1px solid black;
  height: 4em;
}

.appointmentMedic .header h3 {
  margin-right: 1%;
}

.appointmentMedic .header span {
  color: #000000;
  -webkit-text-decoration: black underline;
          text-decoration: black underline;
  font-size: 1.2em;
}

.appointmentMedic .header input {
  height: 2em;
  border: none;
  border-radius: 4px;
  border: 2px solid #3490dc;
  margin-top: 1.2em;
}

.appointmentMedic .header label {
  font-size: 1em;
  margin-top: 1.5em;
  margin-left: 1%;
}

.appointmentMedic .fc-timeGrid-view tr {
  height: 70px;
}

.fc-right button {
  margin-right: 0.5em;
}

.welcomePage {
  text-align: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23ffffff' cx='50' cy='0' r='50'/%3E%3Cg fill='%23faf8ff' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23f4f1ff' cx='50' cy='100' r='50'/%3E%3Cg fill='%23efeaff' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e9e3ff' cx='50' cy='200' r='50'/%3E%3Cg fill='%23e3dcff' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ded6ff' cx='50' cy='300' r='50'/%3E%3Cg fill='%23d8cfff' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d2c8ff' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ccc1ff' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c6bbff' cx='50' cy='500' r='50'/%3E%3Cg fill='%23c0b4ff' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b9adff' cx='50' cy='600' r='50'/%3E%3Cg fill='%23b3a7ff' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aca0ff' cx='50' cy='700' r='50'/%3E%3Cg fill='%23a59aff' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%239e93ff' cx='50' cy='800' r='50'/%3E%3Cg fill='%23978dff' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238f87ff' cx='50' cy='900' r='50'/%3E%3Cg fill='%238780ff' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%237f7aff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.welcomePage .cred {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
}

.welcomePage .cred h2 {
  margin-left: 1em;
  margin-right: 1em;
}

.welcomePage table {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  width: 90%;
  padding: 0.3em;
  height: 75vh;
}

.welcomePage table td,
.welcomePage table th {
  height: 50px;
  width: 100%;
}

.welcomePage table thead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 99.25%;
  display: table;
  table-layout: fixed;
  z-index: 50px;
  background-color: #6c7ae0;
  box-shadow: 6px -7px 20px 5px #d4d4d4;
}

.welcomePage table tbody {
  font-size: 1em;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  display: block;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 6px 15px 20px 5px #d4d4d4;
}

.welcomePage table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.welcomePage table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.welcomePage table tbody td {
  overflow-x: auto;
}

.welcomePage table tbody tr:hover {
  background-color: #ddd;
}

.welcomePage table button {
  width: 100%;
  height: 2.8em;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background-color: #6c7ae0;
  border-radius: 3px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}

.welcomePage table button:hover {
  background-color: #378de5;
}

.welcomePage table button:active {
  position: relative;
  top: 1px;
}

.welcomePage table .size {
  width: 15%;
}

.welcomePage .changedContent input {
  width: 80%;
  height: 2em;
  margin-bottom: 1em;
}

.singleMedicPage {
  overflow: hidden;
  height: 100vh;
}

.singleMedicPage .heighClassMaster {
  height: 90vh;
  overflow: auto;
}

.singleMedicPage .heighClass {
  height: 100%;
}

.singleMedicPage .header {
  width: 100%;
  padding-left: 2em;
  position: relative;
  display: -webkit-box;
  display: flex;
  background-color: #0f2dff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2367ddc9'/%3E%3Cstop offset='1' stop-color='%230f2dff'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%232bfff4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%232bfff4' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
  height: 6em;
}

.singleMedicPage .header #img_medic_profile {
  width: 5em;
}

.singleMedicPage .header .item {
  margin-left: 7em;
}

.singleMedicPage .header .item h3 {
  margin-top: 0.2em;
}

.singleMedicPage .header .item1 {
  position: absolute;
  right: 5em;
  top: 0.2em;
}

.singleMedicPage .header .item1 button {
  margin-top: 0.5em;
  height: 2em;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background-color: #37474f;
  border-radius: 3px;
  border: 1px solid #444444;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.singleMedicPage .header .item1 button:hover {
  background-color: #0f2dff;
}

.singleMedicPage .header .item1 button:active {
  position: relative;
  top: 1px;
}

.singleMedicPage .header span {
  color: #000000;
  -webkit-text-decoration: black underline;
          text-decoration: black underline;
  font-size: 1.2em;
}

.singleMedicPage .comments table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  width: 90%;
  padding: 0.3em;
  height: 70vh;
}

.singleMedicPage .comments table td,
.singleMedicPage .comments table th {
  height: 50px;
  width: 100%;
}

.singleMedicPage .comments table thead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 99.25%;
  display: table;
  table-layout: fixed;
  z-index: 50px;
  background-color: #6c7ae0;
  box-shadow: 6px -7px 20px 5px #d4d4d4;
}

.singleMedicPage .comments table tbody {
  font-size: 1em;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  display: block;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 6px 15px 20px 5px #d4d4d4;
}

.singleMedicPage .comments table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.singleMedicPage .comments table tbody td {
  overflow-x: auto;
}

.singleMedicPage .comments table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.singleMedicPage .comments table tbody tr:hover {
  background-color: #ddd;
}

.singleMedicPage .clickable:hover {
  background-color: red;
}

.fc-timeGrid-view tr {
  height: 60px;
}

.fc-right button {
  margin-right: 0.5em;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
}

.sidenav {
  font-family: "Nunito", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  background: #37474f;
  height: 100%;
  overflow: auto hidden;
  max-width: 17%;
}

.sidenav > a {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 1.1em;
  background: none;
  border-bottom: 1px solid #455a64;
  color: #cfd8dc;
  padding: 16px 24px;
  text-transform: uppercase;
}

.sidenav > a img {
  width: 10%;
  margin-right: 2%;
  padding-left: 10%;
}

.sidenav > a:hover {
  background-color: #757575;
  color: black;
}

.sidenav > a:active {
  background-color: #4d4d4d;
  color: white;
}

.sidenav header {
  background-color: #263238;
  font-size: 1.3em;
  text-align: center;
  padding: 16px 24px;
}

.sidenav header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidenav header a:hover {
  text-decoration: underline;
}

.sidenav button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  background: none;
  border: none;
  color: #fff;
  padding: 16px 24px;
  background-color: #263238;
  text-transform: uppercase;
  width: 100%;
}

.sidenav button img {
  width: 10%;
}

.sidenav button:hover {
  text-decoration: underline;
  cursor: pointer;
  border: none;
}

.sidenav form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  margin-left: 17%;
  overflow: auto;
}

