#backgroud{
    
}
.header {
    text-align: center;
    background-image: url('assets/banner.jpg');
    background-size:100%;
    background-position: center;
    border-top: groove rgb(39, 189, 240);
    border-bottom: groove rgb(39, 189, 240);
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px ;
    img {
      width: 20px ;
      height: 20px;
    }
}

.body{
  
  h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
  }
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
h2:after {
  margin: 0 0 0 20px;
}