.containerGuestWelcome {
    font-family: "Nunito", sans-serif;
    height: 100vh;
    body {
        background-color: white;
        color: $welcomeColor;
        font-family: "Nunito", sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 90vh;
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
        margin-top: 55px;
        font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    }

    .links {
        position: absolute;
        right: 10px;
        top: 18px;
        a {
            color: $welcomeColor;
            padding: 0 25px;
            font-size: 0.8em;
            font-weight: 600;
            letter-spacing: 0.1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            letter-spacing: 0.2rem;
            transition: 0.2s;
            text-decoration: underline;
            color: white;
        }
    }

    .midleLinks {
        display: flex;
        .item {
            display: block;
            text-align: center;
            size: auto;
            margin-right: 3%;
            margin-left: 3%;
            margin-top: 3%;
            max-width: 300px;

            img {
                width: 20%;
            }

            a {
                color: black;
                padding: 0 25px;
                font-size: 1.2em;
                font-weight: 600;
                letter-spacing: 0.1rem;
                text-decoration: none;
                text-transform: uppercase;
            }
            a:hover {
                letter-spacing: 0.1em;
                transition: 0.4s;
                text-decoration: underline;
                font-size: 1.4em;
                color: white;
            }
        }
    }

    .m-b-md {
        margin-bottom: 40px;
        display: flex;
        text-align: right;
        max-width: 900px;
        max-height: 225px;
        position: relative;
    }

    #image-logo {
        position: absolute;
        left: -1.4em;
    }

    #size{
        width: 20%;
    }

    .stetho {
        width: 25%;
        margin-right: 10%;
        margin-left: 7%;
    }

    footer {
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        text-align: center;

        a {
            color: rgb(27, 27, 27);
        }
        a:hover {
            transition: 0.4s;
            text-decoration: underline;

            color: white;
        }
    }

    .rotate-vert-center {
        -webkit-animation: rotate-vert-center 3s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
        animation: rotate-vert-center 3s cubic-bezier(0.455, 0.03, 0.515, 0.955)
            infinite both;
    }

    @-webkit-keyframes rotate-vert-center {
        0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }
        100% {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }
    @keyframes rotate-vert-center {
        0% {
            -webkit-transform: rotateY(0);
            transform: rotateY(0);
        }
        100% {
            -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }

    .text-focus-in {
        -webkit-animation: text-focus-in 1s
            cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }

    @-webkit-keyframes text-focus-in {
        0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }
    @keyframes text-focus-in {
        0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }
}
